.flashMessage {
    background: #fce0e0;
    padding: 20px;
    margin-bottom: 20px;
    color: red;
    border-left: 4px solid red;
    border-radius: 5px;
}

.successMessage {
    background: #defce6;
    padding: 20px;
    margin-bottom: 20px;
    color: green;
    border-left: 4px solid green;
    border-radius: 5px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.new-error-block {
    margin:20px 0;
    padding:20px;
    background-color: antiquewhite;
    color: red;
}